.admin-table {
  table-layout: fixed;
  width: 100%;
}

.admin-table th,
.admin-table td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Description column (make it readable but controlled) */
.col-desc {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}